<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Flight</title>
    <link rel="stylesheet" href="../../public/stylesheets/style.css">
</head>
<body>
	<h2>Enter a New Flight</h2>
	<form action="/flights" method="POST">
		<label>Airline:
			<select name="airline">
				<option value="American">American</option>
				<option value="Southwest">Southwest</option>
				<option value="United">United</option>
			</select>
		</label><br>
		<label>Flight Number:
			<input type="number" name="flightNo">
		</label><br>
		<label>Date:
			<input type="datetime-local" name="departs">
		</label><br>
		<label> Airport:
		<select name="airport">
			<option value="AUS">AUS</option>
			<option value="DFW">DFW</option>
			<option value="DEN">DEN</option>
			<option value="LAX">LAX</option>
			<option value="SAN">SAN</option>
		</select>
		</label><br><br>
		<input type="submit" value="Add Flight">
	</form>
</body>
</html>